* {
    margin: 0;
    padding: 0;
}

.body {
    width: 100vw;
    max-width: 1600px;
}

.header-navigation {
    padding-bottom: 20px;
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    width: 100vw;
    margin: 0 auto;
}

.header-button {
    background-color: #222222;
    border: none;
    margin-top: 8px;
}

.header-navigation-left {
    display: flex;
    margin-left: 5%;
    gap: 41px;
}

.header-navigation-right {
    margin-right: 5%;
}

.header-content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}

.header-content-img-1 {
    padding: 0;
}

.header-content-img-2 {
    display: flex;
    gap: 16px;
    padding-top: 290px;
    padding-left: 0;
    justify-content: center;
}

.content {
    justify-content: center;
}

.grid-img {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 65px;
}

.content-top-img {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #211616;
}

.long-img {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
}

.brown-img,
.brown-img-long {
    opacity: 0.3;
    grid-row: 1/2;
    grid-column: 1/2;
}

.brown-background {
    grid-row: 1/2;
    grid-column: 1/2;
}

.for {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.fetured {
    color: #222;
    font-size: 60px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 6px;
}

.shop {
    color: #9F9F9F;
    font-size: 28px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 48px;
}

.grid-bottom {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}

.bottom-flex {
    display: flex;
    gap: 16px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}

.bottom-item {
    grid-row: auto;
    grid-column: auto;
}

.name {
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-start;
}

.text {
    color: #5D5D5D;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.prace {
    align-self: flex-start;
    color: #F16D7F;
    font-size: 16px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.end {
    text-align: center;
    margin-top: 43px;
}

.more {
    padding: 15px 39px;
    background: #FFF;
    color: #F16D7F;
    border: 1px solid #F16D7F;
    margin-bottom: 70.5px;
}

.more:hover {
    color: #fff;
    background-color: #F16D7F;
}

.more:active {
    color: #F16D7F;
    background-color: #fff;
}

@media (max-width:1025px) {
    .header-navigation {
        padding-bottom: 20px;
        padding-top: 18px;
        justify-content: space-between;
        width: 100vw;
        margin: 0 auto;
    }
    .header-content-img-1 {
        width: 368px;
    }
    .header-content-img-2 {
        width: 383px;
    }
    .man {
        height: 368px;
        width: 386px;
    }
    .grid-img {
        gap: 18px;
    }
    .brand {
        height: 78px;
        width: 283px;
        font-size: 44px;
    }
    .header-content-img-2 {
        padding-top: 138px;
    }
    .content-top-img,
    .brown-img {
        width: 232px;
        height: 167px;
    }
    .brown-img-long,
    .brown-background {
        width: 734.581px;
        height: 116.043px;
    }
    .grid-bottom {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }
}

@media(max-width: 768px) {
    .header-navigation {
        padding-bottom: 18px;
        padding-top: 18px;
    }
    .header-content-img-1 {
        display: none;
    }
    .header-content-img-2 {
        width: 236px;
        height: 66px;
        margin-top: 148px;
        margin-bottom: 149px;
        padding-top: 0;
    }
    .grid-img {
        gap: 32px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .content-top-img,
    .brown-img {
        width: 343px;
        height: 248px;
    }
    .brown-img-long,
    .brown-background {
        width: 343.262px;
        height: 111px;
    }
    .grid-bottom {
        grid-template-columns: repeat(1, 360px);
        gap: 16px;
    }
    .fetured {
        font-size: 30px;
        margin-top: 64px;
        margin-bottom: 3.3px;
    }
    .shop {
        font-size: 14px;
        text-align: center;
        margin-bottom: 64px;
    }
    .bottom-img {
        height: 418px;
    }
}

@media(max-width: 321px) {
    .header-navigation {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .header-content-img-1 {
        display: none;
    }
    .header-content-img-2 {
        width: 226px;
        height: 66px;
        margin-top: 122px;
        margin-bottom: 129px;
        padding-top: 0;
    }
    .grid-img {
        gap: 28px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .content-top-img,
    .brown-img {
        width: 315px;
        height: auto;
    }
    .brown-img-long,
    .brown-background {
        width: 315px;
        height: 100px;
    }
    .grid-bottom {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
    .fetured {
        font-size: 28px;
        margin-top: 34px;
        margin-bottom: 3.3px;
    }
    .shop {
        font-size: 12px;
        text-align: center;
        margin-bottom: 54px;
    }
    .bottom-img {
        height: 370px;
    }
    .bottom-flex {
        display: flex;
        gap: 13px;
        padding: 20px 6px;
    }
    .name {
        font-size: 16px;
    }
    .text {
        font-size: 14px;
        font-weight: 200;
    }
}