* {
    margin: 0;
    padding: 0;
}

.body {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.center-content {
    background: #FFF;
}

.center-header {
    margin: 0 auto;
}

.header {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.header-navigation {
    padding-bottom: 20px;
    padding-top: 18px;
    display: flex;
    gap: 859px;
    background-color: #222222;
}

.header-button {
    background-color: #222222;
    border: none;
    margin-top: 8px;
}

.header-navigation-left {
    display: flex;
    gap: 41px;
    margin-left: 15%;
}

.header-content {
    margin: 0 auto;
    background-color: #F1E4E6;
    display: flex;
}

.header-content-img-1 {
    padding: 0;
}

.header-content-img-2 {
    display: flex;
    gap: 16px;
    padding-top: 290px;
    padding-left: 0;
    justify-content: center;
}

.content {
    padding: 65px 230px 60px 230px;
}

.grid-img {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.content-top-img {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #211616;
}

.long-img {
    background-color: #211616;
    display: grid;
    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    margin: auto;
    width: 1140px;
}

.brown-img {
    opacity: 0.3;
    display: block;
    grid-row: 1/2;
    grid-column: 1/2;
}

.for {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

.fetured {
    color: #222;
    font-size: 60px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 6px;
}

.shop {
    color: #9F9F9F;
    font-size: 28px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 48px;
}

.grid-bottom {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
}

.bottom-flex {
    display: flex;
    gap: 16px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
}

.bottom-item {
    grid-row: auto;
    grid-column: auto;
}

.name {
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-start;
}

.text {
    color: #5D5D5D;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.prace {
    align-self: flex-start;
    color: #F16D7F;
    font-size: 16px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.end {
    text-align: center;
    margin-top: 43px;
}

.more {
    padding: 15px 39px;
    background: #FFF;
    color: #F16D7F;
    border: 1px solid #F16D7F;
}

.more:hover {
    color: #fff;
    background-color: #F16D7F;
}

.more:active {
    color: #F16D7F;
    background-color: #fff;
}