* {
    margin: 0;
    padding: 0;
}

.logo {
    margin-top: 40px;
}

.GrowBe {
    margin-top: 45px;
}

.menu {
    margin-top: 51px;
}

.h1_title {
    margin-top: 164px;
}

.content_image {
    margin-top: 94.71px;
}

.text {
    margin-top: 17px;
}

.start_now {
    margin-top: 37px;
}

.watch_video {
    margin-top: 52px;
}

.footer {
    margin-top: 162px;
}

.footer_logo {
    padding-top: 97px;
    padding-bottom: 96px;
}